AIRFLOW_UID=50000
LAT = "PUT THE LOCATION LATITUDE HERE"
LON = "PUT THE LOCATION LONGITUDE HERE"

API_KEY = "PUT THE API KEY HERE"
# Get it into openweather https://openweathermap.org/current?collection=current_forecast

EMAIL = "PUT YOUR DESTINATARY EMAIL HERE" 
SMTP_PASSWORD = "PUT YOUR SMTP KEY HERE"
SMTP_EMAIL = "PUT YOUR REMETENT EMAIL HERE [GMAIL]"